/* tailwind imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* font */
@font-face {
  font-family: "Yekan";
  src: url("./fonts/B_Yekan/Yekan.ttf");
}

/* main styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  direction: rtl;
  font-family: 'Yekan';
}
